body{
  background-color: skyblue;
  padding: 40px;
}

.btn-group{
    border: solid;
    border-width: 2px;
    border-color: white;
}

h1{
  text-align: center;
}

.logo{
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
    margin-bottom: -30px;
}
