body{
  background-color: skyblue;
  padding: 40px;
}

.btn-group{
    border: solid;
    border-width: 2px;
    border-color: white;
}

h1{
  text-align: center;
}

.logo{
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
    margin-bottom: -30px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

.line {
    fill: none;
    stroke: #a60b0b;
    stroke-width: 1.5px;
}


tr{
    background-color: #f99090;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

th{
    background-color: #910b0b;
    font-weight: bold;
    color: white;
}

td{
    padding: 15px;
    padding-right: 10px;
}

.clickable{
    color: blue;
}

.clickable:hover{
    text-decoration: underline;
    color: #5da0e6;
}